body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: auto;
  max-width: unset;
}

body > * {
  padding-bottom: 20px;
  padding-top: 20px;
  max-width: 800px;
  padding-left: calc((100vw - 800px) / 2);
  padding-right: calc((100vw - 800px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body > * > * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body > *:nth-child(2n + 1) {
  background-color: #0002;
  width: 100%;
}

header {
  text-align: center;
}

header h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header h1 > * {
  margin: auto;
}

header img {
  width: 1.6em;
  height: 1.6em;
}

footer {
  margin: 0;
  padding-bottom: 24px;
}

section.comparison {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 500px) {
  section.comparison {
    grid-template-columns: repeat(2, 1fr);
  }
}

section.video iframe {
  max-width: 100vw;
  --natural-width: 560;
  --natural-height: 315;
  --max-width: 100vw;
  max-height: calc(var(--max-width) * var(--natural-height) / var(--natural-width));
  margin-bottom: 20px;
}
ul {
  display: inline-block;
  text-align: left;
}

body > footer {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  justify-content: space-between;
}

body > footer > * {
  margin-left: auto;
  margin-right: auto;
}
