body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > * {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

header {
  text-align: center;
}

section.comparison {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
ul {
  display: inline-block;
  text-align: left;
}
